<div class="face">
    <!-- left eye -->
    <div class="hover">
      <div id="leye">
        <p id="eyeball"></p>
      </div>
      <div class="appear">
        <div class="arrow-down" margin-left:1px></div>
        this is left eye
      </div>
    </div>
    <!-- right eye -->
    <div class="hover" style="float:right">
      <div id="reye">
        <p id="eyeball"></p>
      </div>
      <div class="appear">
        <div class="arrow-down" margin-left:1px></div>
        this is right eye
      </div>
    </div>
    <!-- left nose-->
    <div class="hover">
      <div id="lnose"></div>
        <div class="appear">
          <div class="arrow-down" margin-left:1px></div>
          this is left nose
          </div>
    </div>
    <!-- right nose-->
    <div class="hover" style="float:right">
      <div id="rnose"></div>
        <div class="appear">
                <div class="arrow-down" margin-left:1px></div>
                this is right nose
        </div>
    </div>
    <!-- smile-->
    <div class="hover">
      <div id="smile">
        <svg width="100" height="100">
          <circle cx="50" cy="-10" r="40" stroke="black" stroke-width="4" fill="lightgrey" />
      </div>
      <div class="appear">
        <div class="arrow-down" margin-left:1px>
        </div>
        this is smile
      </div>
    </div>
</div>