.first-box ,.second-box,.third-box {
    float:left;
    width: 200px;
    height:200px;
    color:white;
    box-sizing: border-box;
}
.first-box{
    background-color: red;
}
.second-box {
    border:8px solid blue;
    color:white;
}
.third-box 
{
    padding :20px;
    background-color: green;
    color:white;
}
@media screen and (max-width: 600px) and (min-width: 401px){
.first-box ,.second-box,.third-box {
    float:left;
    width: 100px;
    height:100px;
    color:white;
    box-sizing: border-box;
}
}
@media screen and  (max-width: 400px) {
.first-box ,.second-box,.third-box {
    float:left;
    width:80px;
    height:80px;
    color:white;
    box-sizing: border-box;
}
}